asgiref
blinker
certifi
cffi==1.15.1
charset-normalizer
click
colorama
cors==1.0.1
Django
django-cors-headers
filelock
Flask
future
gevent
greenlet
idna
itsdangerous
Jinja2
MarkupSafe
Pillow
pycparser
PySocks
requests
requests-file
six
sqlparse
tldextract
tzdata
urllib3
Werkzeug
zope.event
zope.interface
